
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Muli", sans-serif;
  background-color: #f6f7fb;
  min-height: 100vh;
  font-family: sans-serif;
  overflow: hidden;
}
.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
}
.details {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-items: center;
}
.container {
  min-height: 60vh;
  margin-bottom: 30px;
}
.options {
  margin-left: 10px;
  margin-right: 10px;
}
#btn{
  background-color: green;
  border: 2px solid green;
  margin-left: 40%;
  margin-top: 20px; 
  min-height: 30px;
  font-size: large;
  width: 80px;
  cursor: pointer;
}
.btn:hover{
  min-height:40px ;
  width: 90px;
  background-color: rgb(33, 214, 33);
  border: 1px solid rgb(53, 223, 53);
}
